body{
      overflow: hidden;
}
#visualization {
    /* width: 90vw;
    height: 90vh; */
    border: 2px black solid;
}

.station-point {
    cursor: pointer;
}

.station-label {
    font-size: 12px;
    pointer-events: none;
    font-family: Arial, sans-serif;
    user-select: none;
}

.transfer-station {
    stroke: white;
    stroke-width: 2;
}

.connection {
    fill: none;
    stroke-linecap: round;
}

.connection-hover {
    stroke-width: 8;
    opacity: 0;
}

.station-info {
    position: fixed;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}

.control-group {
    width: 99vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px;
}
.control-group span{
      width: 100px;
}

#timeSlider {
    width: 100%;
}

.tool-box{
      position: fixed;
      right: 5vw;
      top:3vh;
      border: 2px black dashed;
      border-radius: 30px;
      width: 25vw;
      height: 20vh;
      padding: 1vw 1vh;
}

.label1{
      margin-right: 15px;
}